@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,600,700');
body{
  font-family: 'Raleway', sans-serif;
  font-size: 100%;
}
.github{
  margin-top: 2%;
}
.center-block {
  float: initial;
  text-align: center;
  display: block;
  margin-right: auto;
  margin-left: auto;
}
.form h1{
  text-align: center;
  font-size: 2.5em;
  font-weight: 600;
}
